<%= simple_form_for Message.new, authenticity_token: false, remote: true, :url => '/contact' do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :message, :input_html => { :class => 'materialize-textarea' } %>
  <%= hidden_field_tag :website %> 
  <%= f.button :submit, :class => 'contact-submit', :value => 'Send' %>
<% end %>