<% flash.each do |name, msg| %>
  <% @message = content_tag :div, raw(msg), class: "alert alert-fixed alert-" + name %>
<% end %>
$('#notifications').html("<%= escape_javascript @message %>");

<% if !flash[:error] %>
  var form = $('#new_message');
  form.trigger('reset');
  form.find(':submit').removeClass('disabled').prop("disabled", false);
<% end %>