<%= simple_form_for :sessions, :url => '/login', :html => { :class => 'form-vertical' } do |f| %>

	<%= f.input :email, :required =>true, :label => 'Email Address',:placeholder => 'Email Address' %>
	<%= f.input :password, :required =>true, :label => 'Password',:placeholder => 'Password' %>

	<label class="checkbox">
		<%= check_box_tag :remember_me, 1, params[:remember_me] %>
		Remember me
	</label> 

	<%= f.button :submit, "Login" %>

<% end %>