#contact-bg {
	background: #fff;
	transition: transform .5s ease-in-out;
	transform: translate3d(-100%,0,0);
	height: 100%;
	max-width: 70%;
	overflow: visible;
	position: relative;
	margin: 0;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;

	&:after {
		background: #fff;
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		right: 0%;
		top: 0;
		position: absolute;
		transform-origin: right bottom;
		z-index: -1;
		transform: skew(-20.5deg);

	}
}
.contact-wrapper {
	position: relative;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	overflow: visible !important;
}