<ul class="collection with-header tasks">
  <% @tasks.each do |task| %>
  	<li class="collection-item task">
      <div class="row">
        <div class="col s2">
          <%= simple_form_for task, :namespace => 'task_' + task.id.to_s, :remote => true, html: { data: { id: task.id } } do |f| %>
            <%= f.input :is_complete %>
          <% end %>
        </div>
        <div class="col s10">
          <div class="task-name">
            <%= task.name %>
          </div>
          <div class="task-buttons">
            <a href="#" onclick="showTaskModal(<%= task.id %>)" class="btn-flat btn-small task-open"><i class="ion-chatbubbles"></i></a>
            <a href="#" onclick="deleteTask(<%= task.id %>)" class="btn-flat btn-small task-delete"><i class="ion-trash-b"></i></a>
          </div>
          <div class="task-relationships">
            <div class="task-users">
              <% task.users.each do |user| %>
                <%= raw user.avatar('xsmall') %>
              <% end %>
            </div>
            <% if task.project %>
              <div class="chip task-project">
                <%= task.project.name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m12">

        </div>
      </div>
  	</li>	
  <% end %>
</ul>