<%= simple_form_for @task, remote: true, html: { data: { id: @task.id } }  do |f| %>

  <%= f.input :name %>
  <%= f.input :start_date, :as => :string, :input_html => { :class => 'datepicker', :value => l(f.object.start_date)  } %>
  <%= f.input :end_date, :as => :string, :input_html => { :class => 'datepicker', :value => l(f.object.end_date) } %>
  <%= f.select :user_ids, @users.collect {|x| [x.name, x.id]}.unshift(["Users",0]), {:disabled => "0"}, :multiple => true %>

  <%= f.input :task_type %>

  <%= f.input :planned_start, :as => :string, :input_html => { :class => 'datepicker', :value => l(f.object.planned_start) } %>
  <%= f.input :planned_end, :as => :string, :input_html => { :class => 'datepicker', :value => l(f.object.planned_end) } %>

<% end %>
