<section v-show="tasks.length" v-cloak>
  <ul class="collection tasks">
    <li v-for="task in <%= list_name %>"
      class="task collection-item"
      :key="task.id"
      :class="{ 'is-complete': task.is_complete, editing: task == currentEditTask }">
      <div class="checkbox">
        <input class="toggle" type="checkbox" v-bind:id="'task_' + task.id + '_is_complete'" v-model="task.is_complete" @change="updateTask(task)">
        <label class="boolean optional" v-bind:for="'task_' + task.id + '_is_complete'">Is complete</label>
      </div>
      <div class="task-info">
        <div class="task-name" @dblclick="editTask(task)">{{ task.name }}</div class="task-name">
        <input class="task-edit" type="text"
          v-model="task.name"
          v-task-focus="task == currentEditTask"
          @blur="doneEdit(task)"
          @keyup.enter="doneEdit(task)"
          @keyup.esc="cancelEdit(task)">
        <div class="task-buttons">
          <a @click="openTask(task)" class="btn-flat task-open"><i class="ion-chatbubbles"></i></a>
          <a @click="deleteTask(task)" class="btn-flat task-delete"><i class="ion-trash-b"></i></a>
        </div>
        <div class="task-relationships">
          <div class="chip task-project" v-if="task.project_id" v-for="project in getProject(task)">
            {{ project.name }}
          </div>
          <div class="task-users right">
            <div v-for="user in getUsers(task)" v-if="task.user_ids" v-html="user.avatar">
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>