<div id="modal-task-edit" class="modal modal-task-edit modal-fixed-footer"></div>
<div id="modal-task-delete" class="modal modal-task-delete">
  <div class="modal-content">
    <p>Task will be deleted permanently, are you sure?</p>
  </div>
  <div class="modal-footer">
    <span class="waves-effect waves-red btn-flat btn-delete" id="btn-task-delete-confirm">Delete</span>
    <span class="waves-effect waves-green btn-flat modal-close" >Cancel</span>
  </div>
</div>
<div id="modal-task" class="modal modal-task-comments">
    <%= render 'layouts/spinner' %>
</div>