<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"><%= @task.name %></h2>
  <h5 class="text-center"><%= @task.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @task.content %></div>
</div>