<% content_for :filters do %>
  <div class="filter" id="filter-users">
    <selectize 
      :multiple="true" 
      v-model="selectedUsers">
      <option value="" disabled selected>Users</option>
      <% @users.each do |resource| %>
        <option data-name="user_id" value="<%= resource.id %>" data-html="<%= resource.avatar('xsmall') %>" class="circle"><%= resource.name %></option>
      <% end %>
    </selectize>
  </div>
  <div class="filter" id="filter-projects">
    <selectize 
      :multiple="true" 
      v-model="selectedProjects">
      <option value="" disabled selected>Projects</option>
      <% @projects.each do |project| %>
        <option data-name="project_id" value="<%= project.id %>"><%= project.name %></option>
      <% end %>
    </selectize>
  </div>
<% end %>

  <div class="container">

    <header v-show="tasks.length" v-cloak>
      <ul class="filters">
        <li class="chip" :class="{ active: visibility == 'all' }"><a href="#/all">All</a></li>
        <li class="chip" :class="{ active: visibility == 'active' }"><a href="#/active">Active</a></li>
        <li class="chip" :class="{ active: visibility == 'completed' }"><a href="#/completed">Completed</a></li>
      </ul>
    </header>


    <div class="row" v-cloak>
      <div class="col m12 l8">

        <div class="row">
          <div class="col s12">
            <div class="task-new">
              <input
                autofocus autocomplete="off"
                placeholder="What's crackalackin, homeslice?"
                v-model="newTask.name"
                @keyup.enter="addTask">
              <div class="task-new-buttons">
                <selectize v-model="newTask.project_id">
                  <option value="" disabled selected>Project</option>
                  <% @projects.each do |project| %>
                    <option data-name="project_id" value="<%= project.id %>"><%= project.name %></option>
                  <% end %>
                </selectize>
                <div class="btn-flat">
                  <i class="ion-plus-round"></i>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col s2">
            <div class="tasks-label">
              Today<br/>
              <%= l Date.today %>
            </div>
          </div>
          <div class="col s10">
            <%= render 'list', :list_name => 'visibleTodayTasks' %>
          </div>
        </div>

        <div class="row">
          <div class="col s2">
            <div class="tasks-label">
              Next 7 Days<br/>
              <%= l Date.today + 1%> ~
              <%= l Date.today + 7 %>
            </div>
          </div>
          <div class="col s10">
            <%= render 'list', :list_name => 'visibleNextTasks' %>
          </div>
        </div>
        
      </div>
      <div class="col m12 l4">
        <div class="box task-stats task-count">
          <h5>Progress</h5>
          Today: <strong>{{ remainingToday[0] }} / {{ remainingToday[1] }}</strong><br>
          <div class="progress">
              <div class="determinate" v-bind:style="{ width: remainingToday[2] +'%'}"></div>
          </div>
          Upcoming: <strong>{{ remainingNext[0] }} / {{ remainingNext[1] }}</strong>
          <div class="progress">
              <div class="determinate" v-bind:style="{ width: remainingNext[2] +'%'}"></div>
          </div>
        </div>

        <div class="box task-log">
          <h5>Latest Comments</h5>
          <ul class="task-comments-latest">
            <li v-for="comment in comments"
              class="task-comment"
              :key="comment.id"
              >
              <div class="task-comment-user-avatar" v-html="comment.user.avatar">
                {{ comment.user.avatar }}
              </div>
              <div class="task-comment-info">
                <div class="task-comment-user">
                  {{ comment.user.name }}
                </div>
                <div class="task-comment-content">
                  {{ comment.content }}
                </div>
                <div class="task-comment-meta">
                  {{ comment.created_at }} on 
                  <a @click="openTask(comment.task)">{{ comment.task.name }}</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


<%= render 'tasks/modals' %>