<div class="box-header">
    <h4><%= @task.name %></h4>
</div>
<div class="container">
  <div class="row">
    <div class="task-comments-wrapper col m9">
      <%= render 'task_comments/index' %>
    </div>

    <div class="col m3 task-attachments-wrapper">
      <%= render 'tasks/form' %>
      <%= render 'task_attachments/index' %>
    </div>
  </div>

</div>
