$(function(){

  /**
   * Gantt config options
   */
  gantt.config.smart_rendering = true;
  // gantt.config.sort = true;
  gantt.config.order_branch = true;
  // gantt.config.order_branch_free = true;
  gantt.config.xml_date = "%Y-%m-%d";
  gantt.config.scale_height = 50;
  gantt.config.task_height = 20;
  gantt.config.row_height = 32;
  gantt.config.start_date = new Date().setDate(today.getDate()-40);
  gantt.config.end_date = new Date().setDate(today.getDate()+120);
  gantt.config.auto_scheduling = true;
  gantt.config.auto_scheduling_strict = true;
  gantt.config.auto_scheduling_initial = true;
  gantt.config.date_scale = "%d";
  gantt.config.autosize = true;
  gantt.config.subscales = [
    {unit:"month", step:1, date:"%F, %Y"},
  ];
  gantt.config.work_time = true;
  gantt.config.min_column_width = 20;

  /** 
   * Load gantt data
   */
  gantt.load("<%= Rails.application.routes.url_helpers.gantt_data_path %>", "json");
  gantt.init("gantt");
  var dp = new gantt.dataProcessor("");
  dp.init(gantt);
  dp.setTransactionMode("REST");

  /** 
   * Change default REST routes
   */
  dp.attachEvent("onBeforeDataSending", function() {
    var url = this._serverProcessor;
    if(this._tMode == "REST"){
      var mode = this._ganttMode;
      // links, tasks -> /task_links/id, /tasks/id
      if (mode == 'links') {
        mode = 'task_links';
      }
      url = url.substring(0, url.indexOf("?") > -1 ? url.indexOf("?") : url.length);
      //editing=true&
      this.serverProcessor = url + (url.slice(-1) == "/" ? "" : "/") + mode;
    }else{
      this.serverProcessor = url + gantt._urlSeparator(url) + "gantt_mode=" + this._ganttMode;
    }
    return true;
  });
  
});