/**
 * Sorting
 */
var drag_id = null;
gantt.attachEvent("onRowDragStart", function(id, target, e) {
    drag_id = id;
    return true;
});
gantt.attachEvent("onRowDragEnd", function(id, target) {
    drag_id = null;
    order = this._get_data_range();
    var tasks = {};
    $.each(order, function( index, value ) {
      tasks[value] = {};
      tasks[value]['sortorder'] = index;
    });
    // Update task in grid
    task = this.getTask(id);
    task.sortorder = tasks[id]['sortorder'];
    // Update all tasks in database
    $.ajax({
        url: '<%= Rails.application.routes.url_helpers.task_update_batch_path %>',
        method: 'patch',
        data: {tasks: tasks},
        success: function(html){
        }
    });
    gantt.render();
});
gantt.templates.grid_row_class = function(start, end, task){
    if(drag_id && task.id != drag_id){
        if(task.$level != gantt.getTask(drag_id).$level)
            return "cant-drop";
        }
    return "";
};

gantt._sync_order_item = function(item, hidden) {
  if(item.id !== gantt.config.root_id){  //do not trigger event for virtual root

    this._order_full.push(item.id);
    if(!hidden && this._filter_task(item.id, item) &&
      this.callEvent("onBeforeTaskDisplay", [item.id, item])){
      this._order.push(item.id);
      this._order_search[item.id] = this._order.length - 1;
    }
  }

  var children = this.getChildren(item.id);
  if (children){
    for (var i = 0; i < children.length; i++)
      this._sync_order_item(this._pull[children[i]], hidden || !item.$open);
  }

};
