<% title @portfolio.title %>
<% body_class 'live-editor portfolio-single' %>

<div class="page-header-wrapper">
    <div class="page-header-spacer" id="page-header-spacer"></div>
    <section class="page-header full-browser-height" id="page-header" style="background-image: url('<%= @portfolio.image %>');">
        <div class="container">
            <div class="page-header-content">
                <div class="row dark-row">
                    <div class="col m10">
                        <h1><%= @portfolio.title %></h1>
                        <div class="svg-wrapper has-animation">
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="100%" width="100%" />
                          </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
</div>

<div class="editor" id="editor" contenteditable="true">
	<%= raw @portfolio.content %>
</div>

<%= render 'layouts/live_editor_controls', :update_path => update_portfolio_path %>
