<% title 'Portfolio' %>
<% body_class 'page-portfolio' %>
<% namespace 'portfolio' %>
<!-- <div class="container">
  <h1>Selected Works</h1>
</div> -->

<section class="section-padded">
  <div class="container">
    <div class="portfolio" id="portfolio">
    <% @portfolio.each_with_index do |item, index| %>
      <div class="col s12 full-browser-height portfolio-item" data-section-name="<%= index + 1 %>">
          <div class="portfolio-item-inner">
            <% if !item.image.blank? %>
                <div class="portfolio-image-wrapper">
                  <%= image_tag item.image(:medium), :class => 'has-animation-o', :data => { 'animation-out': 'transition.opacityOut' } %>
                  <svg viewbox="0 0 200 100" class="has-animation has-animation-out svg-frame reanimate" data-animation-delay="500">
                    <line x1="200" y1="0" x2="0" y2="0" class="line1" />
                    <line x1="195" y1="105" x2="195" y2="30" class="line2" />
                    <line x1="0" y1="100" x2="200" y2="100" class="line3" />
                    <line x1="5" y1="-5" x2="5" y2="70" class="line4" />
                  </svg>
                  <div class="mask"></div>
                </div>
                <%#= link_to image_tag(item.image(:full)), show_portfolio_path(:slug => item.slug) %>
            <% end %>
            <div class="portfolio-info">
              <div class="portfolio-info-inner has-animation-out" data-animation-out="transition.moveRight">
                <h3><%= link_to  item.title, show_portfolio_path(:slug => item.slug), :data => {:transition => 'portfolio'} %></h3>
                <%= link_to 'View Project', show_portfolio_path(:slug => item.slug), :class => 'project-link' %>
                <div class="tags">
                    <%= item.tags.map(&:name).join(' / ') %>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</section>