<% body_class 'portfolio-single header-light-active' %>
<% namespace 'portfolioSingle' %>
<% title @portfolio.title %>
<% meta_description(@portfolio.description) %>

<a href="<%= portfolio_path %>" class="portfolio-back-link"><i class="ion-ios-arrow-thin-left"></i>Back</a>

<div class="page-header full-browser-height section-dark" id="portfolio-page-header">
	<div class="parallax"><img src="<%= @portfolio.image %>"></div>
</div>

<div class="main" id="main">
	<%= raw Shortcode.process(@portfolio.content) %>
    <div class="container">
    	<div class="row">
    		<div class="col s12">
		        <%= render 'layouts/social_share' %>
    		</div>
    	</div>
    </div>
</div>