<%= simple_form_for [@task, @task_attachment], remote: true, html: { class: 'dropzone', multipart: true } do |f| %>
  <%= f.input :file, as: :file %>
  <%= f.input :task_id, :as => :hidden, :input_html => { :value => @task.id } %>
  <%= f.button :submit %>
<% end %>