<div class="task-attachments" id="task-attachments">
	<div class="task-attachments-previews dropzone-previews" id="task-attachments-previews">
	  <% @task.attachments.each do |attachment| %>
	  	<div class="task-attachment" id="task-attachment-<%= attachment.id %>">
	  		<div class="task-attachment-info">
		  		<%= image_tag attachment.file.url(:thumb), :class => "tooltipped", :data => { :position => 'left', :tooltip => attachment.file.original_filename } %>
		  		<%#= attachment.file.original_filename %>
	  		</div>
	  		<div class="task-attachment-actions">
	  			<%= link_to '<i class="ion-ios-cloud-download"></i>'.html_safe, task_attachment_path(attachment.id), :class => 'task-attachment-download' %>
	  			<%#= link_to 'Copy URL', attachment.file.url %>
	  			<%= link_to '<i class="ion-close-circled"></i>'.html_safe, task_attachment_path(attachment.id), data: {:confirm => 'Are you sure you want to permanently delete this attachment?'}, :method => :delete, :remote => true, :class => 'task-attachment-delete' %>
	  		</div>
	  	</div>
	  <% end %>
	  <%= render 'task_attachments/form' %>
  	</div>
</div>
