<% flash.each do |name, msg| %>
  <% @message = content_tag :div, msg, class: "alert alert-fixed alert-" + name %>
<% end %>
$('#task-attachment-<%= @task_attachment.id %>').remove();
$('#notifications').html("<%= escape_javascript @message %>");
