<div class="container">
	<ul class="collection">
		<li v-for="user in users" class="collection-item">
			<div class="user-avatar" v-html="user.avatar"></div>
			{{ user.name }}
			{{ user.email }}
			{{ user.color }}
		</li>
	</ul>
</div>