.btn-small {
	width: 25px;
	height: 25px;
	padding: 0;
	font-size: .8rem;
	text-align: center;
	i {
		line-height: 25px;
		font-size: 1.1em;
		display: block;
	}
}
.btn-flat {
	// border: 1px solid $light-gray;
}