// .select-wrapper input.select-dropdown {
//     border-radius: $button-radius;
//     padding-left: 20px;
//     height: 2.6rem;
//     background: #fff;
// }
// .dropdown-content {
// 	border-radius: $button-radius;
// }
label {
	left: 0;
}
.switch-name {
	color: $off-black;
	margin-right: 10px;
}
.select-dropdown {
	li {
		img {
			height: 30px;
			width: 30px;
		}
		.select-custom-html {
			position: absolute;
			right: 0;
		}
	}
}
.caret {
	// text-indent: -9999px;
	color: transparent !important;
	&:after {
		position: absolute;
		top: 0;
		content: '\f123';
		display: block;
		font-family: 'Ionicons';
		color: $dark-gray !important;
	}
}
.dropdown-content {
	top: 100% !important;
	li {
		min-height: 38px;
		a, span {
			padding: 8px 16px;
		}
	}
}

.card, .dropdown-content, nav, .side-nav {
    border: 1px solid #dedede;
    box-shadow: none;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    border-radius: 4px;
}

// Chips
.chip {
	height: 30px;
	line-height: 30px;
}

// Selectize
.selectize-control {
	min-height: 36px;
	display: table;
}
.selectize-input {
	padding: 0 !important;
	border: 0px;
	background: transparent;
	box-shadow: none;
	min-width: 160px;
	display: table-cell;
	vertical-align: middle;
	min-height: 36px;
	&.full {
		background: transparent;
	}
	&.focus {
		box-shadow: none;
	}
	&.input-active {
		background: transparent;
	}
	input {
		height: auto !important;
	}
}
.selectize-control.plugin-remove_button [data-value] .remove {
    padding: 6px 6px 0 0;
    border-radius: 20px;
    border: 0px;
    &:hover {
    	background: transparent;
    }
}
.selectize-control.multi .selectize-input.has-items {
    padding: 0;
}
.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 3px 10px 3px 0;
    padding: 6px 10px;
    background: #f2f2f2;
    color: #303030;
    border: 0 solid #d0d0d0;
    border-radius: 20px;
}
.selectize-control.multi .selectize-input > div.active {
    background: $secondary-color;
    color: #fff;
    border: 0 solid #cacaca;
}
.selectize-dropdown {
	border: 1px solid #dedede;
	box-shadow: none;
}
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 8px 16px;
    font-size: 16px;
    color: #3d3d3d;
    display: block;
    line-height: 22px;
}

// Lists
.list-styled {
    li {
        position: relative;
        padding-left: 28px;
        margin-bottom: 10px;
        &:before {
            content: "\f122";
            display: block;
            font-family: 'ionicons';
            position: absolute;
            left: 0;
            top: 4px;
            font-size: 13px;
            color: $secondary-color;
        }
    }
}