@mixin vertical-align() {
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}
@mixin center-both() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%, 0);
	text-align: center;
}


// Frames and lines
.svg-frame {
	position: absolute;
	top: -20%;
	left: 0%;
	width: 120%;
	height: 140%;
	z-index: -1;
	padding: 30px;
	line {
		transition: all .8s linear;
		stroke-width: 10px;
		stroke: #efefef;
		stroke-dasharray: 100;
		stroke-dashoffset: 100;
		animation-fill-mode: forwards;
	}
	.line1, .line3 {
		transition: all .6s linear;
		stroke-dasharray: 200;
		stroke-dashoffset: 200;
	}
	&.animated {
		line {
			stroke-dashoffset: 0;
		}
	}
	&.animated-out {
		line {
			stroke-dashoffset: 100 !important;
		}
		.line1, .line3 {
			stroke-dashoffset: 200 !important;
		}
	}
}

@mixin dash-line() {
	position: relative;
	padding-left: 35px;
	&:before {
		content: '';
		display: block;
		height: 2px;
		width: 23px;
		background: $off-black;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate3d(0%, -50%, 0);
		transition: transform .3s ease-in-out;
	}
}

.mask {
	display: none;
	height: 110%;
    width: 120%;
    top: -5%;
    left: 100%;
    position: absolute;
    background: #fff;
    transform: translate3d(-95%,0,0);
    transition: transform .5s ease-in-out;
}

.reveal {
	position: relative;
	overflow: hidden;
	display: inline-block;
	&:after {
		content:" ";
		position:absolute;
		display:block;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:#fff;
		z-index:2;
		transition: transform 1.8s ease;
		transform: translate3d(40%,0,0);
	}
	&.animated:after {
		transform: translate3d(100%,0,0);
	}
}

.parallax-layer {
	opacity: 0;
	display: inline-block;
}
@media #{$small-and-down} {
	.parallax-layer {
		transform: none !important;
	}
}