html {
	font-size: 18px;
	color: $body-color;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $heading-font-family;
	font-weight: 800;
	color: $off-black;
}
h1 {
	color: #eaeaea;
}
h5, .h5 {
	color: #a1a1a1;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.2em;
}
@media #{$large-and-down} {
	h1, .h1 {
		font-size: 3.6rem;
	}
}
@media #{$medium-and-down} {
	h1, .h1 {
		font-size: 3rem;
	}
	h2, .h2 {
		font-size: 2.2rem;
	}
}
body {
	font-family: $body-font-family;
	font-weight: 400;
}
.section-dark {
	background-size: cover;
	color: #fff;
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	    color: inherit;
	}
	a {
		color: #fff;
		&:hover {
			color: $link-color;
		}
	}
}
.rotated-text {
	transform: rotate(-90deg);
	transform-origin: bottom left;
	margin-left: -20px;
	display: inline-block;
}