// Theme
$orange: #f69264;
$project-color: #138aa9;
$dark-gray: #3d3d3d;
$light-blue: #adc8d9;
$light-gray: #d8d8d8;
$alert-red: #c55c5c;
$alert-green: #55c56d;
$alert-yellow: #c5b255;
$alert-blue: #55b5c5;
$heading-font-family: 'aktiv-grotesk', Helvetica, sans-serif;
$body-font-family: "canada-type-gibson", Helvetica, sans-serif;

// Materialize
$primary-color: #fff;
$navbar-font-color: #3d3d3d;
$button-radius: 20px;
$gutter-width: 3.5rem;
$secondary-color: $orange;
$dropdown-color: $dark-gray;
$radio-empty-color: #e4e4e4;
$footer-bg-color: transparent;
$link-color: $orange;
$h1-fontsize: 5rem;
$h2-fontsize: 2.8rem;
$h3-fontsize: 1.8rem;
$h4-fontsize: 1.2rem;
$body-color: rgba(8, 6, 33, 0.56);
$off-black: rgba(8, 6, 33, 1);

// $sidenav-font-color: rgba(255,255,255,.87);
$sidenav-bg-color: #fff;
$sidenav-item-height: 34px;
$sidenav-font-size: 16px;


// Media Query Ranges
// $small-screen-up: 601px !default;
// $medium-screen-up: 993px !default;
// $large-screen-up: 1201px !default;
$small-screen: 600px !default;
// $medium-screen: 992px !default;
$large-screen: 1200px !default;

$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
// $medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
// $large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
// $small-and-down: "only screen and (max-width : #{$small-screen})" !default;
// $medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
// $medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;