<div class="task-comment <%= 'current-user' if comment.user == current_user %> <%= 'unread' if comment.user != current_user && comment.unread?(current_user) %>">
  	<div class="avatar">
	  	<a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="<%= comment.user.name %>">
		  	<%= raw comment.user.avatar('medium') %>
	  	</a>
  	</div>
  	<div class="task-comment-content">
	  	<%= comment.content %>
  	</div>
  	<div class="task-comment-date">
  		<%= l comment.created_at %>
  	</div>
  	<%#= link_to 'Delete', task_comment_path(:id => comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>