<%= simple_form_for [@task, @task_comment], remote: true do |f| %>
  <%= f.error_notification %>

  <div class="input-field">
  	<%= text_area_tag "content", @task_comment.content, class: "materialize-textarea", placeholder: "Enter your comment" %>
  </div>
  <div class="row">
    <div class="col m8">
      <input name="email_to" class="email_to" id="email_to" placeholder="Email to" data-options="<%= @users.to_json %>" />
    </div>
    <div class="col m4">
      <div class="form-actions">
        <span class="btn rounded" id="attachment-add"><i class="ion-android-attach"></i></span>
        <%= f.button :submit, :value => 'Send' %>
      </div>
    </div>
  </div>


<% end %>
