<%= render 'task_comments/form' %>

<div class="task-comments" id="task-comments">
  <% @task_comments.each do |comment| %>
    <%= render 'task_comments/comment', :comment => comment %>
  <% end %>
</div>

<% if @unread_comments.any? %>
	<script>
	$.ajax({
	  type: "POST",
	  url: "<%= task_comments_mark_as_read_path %>",
	  data: { ids: <%= @unread_comments %> },
	  success: function(html){
	  }
	  });
	</script>
<% end %>