// Insert newly added comment
var comment = $("<%= escape_javascript( render 'task_comments/comment', :comment => @task_comment ) %>").hide().fadeIn(300);
$("#task-comments").prepend(comment);
 
// Empty form
$('#new_task_comment')[0].reset();