<!--Ext and ux styles -->
<link href="http://www.bryntum.com/examples/extjs-6.0.1/build/classic/theme-triton/resources/theme-triton-all.css" rel="stylesheet" type="text/css"/>

<!--Scheduler styles-->
<link href="http://www.bryntum.com/examples/gantt-latest/resources/css/sch-gantt-triton-all.css?ver=4.2.1" rel="stylesheet"/>


<% content_for :filters do %>
  <div class="filter">
    <div class="switch">
      <span class="switch-name">Baseline</span>
      <label>
        Off
        <input name="baseline-toggle" type="checkbox" id="baseline-toggle">
        <span class="lever"></span>
        On
      </label>
    </div>
  </div>
<!--         <div class="input-field">
    <div class="switch">
      <span class="switch-name">Zoom fit</span>
      <label>
        Off
        <input name="zoom-toggle" type="checkbox" id="zoom-toggle">
        <span class="lever"></span>
        On
      </label>
    </div>
  </div> -->

<!--         <div class="switch">
    Hide Complete
    <label>
      Off
      <input name="completed-toggle" type="checkbox" id="completed-toggle">
      <span class="lever"></span>
      On
    </label>
  </div> -->
  <div class="filter input-field" id="filter-assignee">
    <select name="assignee_id" multiple>
      <option value="" disabled selected>Resources</option>
      <% @resources.each do |resource| %>
        <option data-name="assignee_id" value="<%= resource.id %>" data-html="<%= resource.avatar('xsmall') %>" class="circle"><%= resource.name %></option>
      <% end %>
    </select>
  </div>
  <div class="filter input-field" id="filter-assignee">
    <select name="project_id" multiple>
      <option value="" disabled selected>Projects</option>
      <% @projects.each do |project| %>
        <option data-name="project_id" value="<%= project.id %>"><%= project.name %></option>
      <% end %>
    </select>
  </div>

<% end %>

<!-- Task colors -->
<style type="text/css">
  <% @resources.each do |user| %>
    <% if !user.color.nil? %>
    .resource-<%= user.id %> .gantt_task_progress {
      background: <%= user.color %>;
    }
    <% end %>
  <% end %>
</style>

<%= render 'tasks/modals' %>
<div id="gantt" style='width:100%; height:100%;'></div>

<%= javascript_include_tag "gantt" %>
