<% title @page.title %>
<% body_class 'live-editor' %>

<div class="editor" id="editor" contenteditable="true">
	<%= raw @page.content %>
</div>

<%= render 'layouts/live_editor_controls', :update_path => update_page_path %>