<% title @page.title %>
<% case @page.slug when 'home' %>
	<% body_class 'header-light-active' %>
<% end %>
<% case @page.slug when 'contact' %>
	<% namespace 'contact' %>
<% end %>
<% meta_description(@page.description) %>
<%= raw Shortcode.process(@page.content) %>
<%#= link_to 'Edit', edit_page_path(@page) %>
