<div class="container">
	<ul class="collection">
		<li v-for="user in projects" class="collection-item">
			<div class="user-avatar" v-html="user.avatar"></div>
			{{ user.name }}
		</li>
	</ul>
</div>