body {
	overflow-x: hidden;
}

.container {
  max-width: 1140px;
  // overflow: hidden;
  padding-left: 60px;
}
@media #{$medium-and-down} {
	.container {
	  padding-left: 0px;
	}
}
.container-full {
	// width: 100%;
	// padding-left: $gutter-width;
	// padding-right: $gutter-width;
	padding-left: 20px;
	padding-right: 20px;
}
@media #{$large-and-up} {
	#app {
		.main {
			padding-left: 240px;
		}
		.nav-top {
			padding-left: 240px;
		}
	}
}
.row {
	margin-bottom: 0;
	clear: both;
	background-size: cover;
}
.full-browser-height {
	height: 100vh;
}
.min-full-browser-height {
	min-height: 100vh;
}
.col {
	width: 100%;
	img {
		max-width: 100%;
		height: auto !important;
	}
}
.section-padded {
	padding-top: 100px;
	padding-bottom: 100px;
}
@media #{$small-and-down} {
	.section-padded {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.page-header {
	height: 70vh;
	position: relative;
	overflow: hidden;
	>.container {
		display: table;
		height: 100%;
		.page-header-content {
			display: table-cell;
			vertical-align: middle;
		}
	}
	h1 {
		margin: 0;
	}
}
// Offsets
.offset-top-1 {
	margin-top: 1em;
}
.offset-top-2 {
	margin-top: 2em;
}
.offset-top-3 {
	margin-top: 3em;
}
.offset-top-4 {
	margin-top: 4em;
}
.offset-top-5 {
	margin-top: 5em;
}
.offset-top-6 {
	margin-top: 6em;
}