// Top nav
.nav-top {
	box-shadow: none;
	background: transparent;
	border: 0px;
	.selectize-input {
		height: $navbar-height - 2px;
		margin-bottom: 0;
	}
	ul {
		li {
			a {
				&:hover {
				  background-color: rgba(0,0,0,.03);
				}
			}
		}
	}
}
#app {
	.nav-top {
	    border: 1px solid #dedede;
		background: #fff;
	}
}


// User menu
.user-menu {
	position: relative;
	height: $navbar-height - 2px;
	>a {
		padding-left: 80px;
		font-weight: bold;
		display: inline-block;
	}
	.avatar {
		left: 30px;
		max-height: 40px;
		@include vertical-align();
	}
	i {
		float: right;
		margin-left: 10px;
	}
}

// Branding
.brand-logo {
	img {
		visibility: visible;
		opacity: 1;
		margin-top: 8px;
		max-height: 42px;	
		transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
	}
	.logo-light {
		opacity: 0;
		visibility: hidden;
		height: 0;
	}
}
@media #{$large-and-up} {
	.header-light-active {
		.logo-light {
			opacity: 1;
			visibility: visible;
			height: auto;
		}
		.logo-dark {
			opacity: 0;
			visibility: hidden;
			height: 0;
		}
		.side-nav {
			li.nav-item {
				&:before {
					background: #f7f9fa;
				}
				a {
					color: #f7f9fa;
				}
			}
		}
	}
}


// Side and mobile nav
.side-nav {
	width: 240px;
	border: 0px;
	transition: transform .3s ease-in-out;
	.logo {
		padding: 35px 0 3em;
	}
	li {
		&.nav-item {
			padding-left: 40px !important;
			margin-left: 30px;
			position: relative;
			overflow: hidden;
			height: 40px;
			line-height: 40px;
			&.active {
				background: transparent;
				&:before {
					transform: translate3d(0%, -50%, 0);
				}
			}
			@include dash-line();
			&:before {
				transform: translate3d(-100%, -50%, 0);
			}
			&:hover:before {
				transform: translate3d(0%, -50%, 0);
			}
		}
		a {
			transition: color 1s ease-in-out;
			font-weight: 400;
			font-size: 18px;
			line-height: 40px;
			i {
				font-size: 1.9em;
				color: $sidenav-font-color;
			}
			&:hover {
				background: transparent;
			}
		}

	}
}
#btn-nav {
	position: fixed;
	top: 20px;
	right: 20px;
}
@media #{$large-and-up} {
	#btn-nav {
		display: none;
	}
	.side-nav {
		transform: translateX(0%) !important;
		background: transparent;
		// box-shadow: transparent;
	}
}

#app {
	.side-nav {
		background: #3f4a59;
		li {
			a {
				height: 58px;
				line-height: 58px;
				color: rgba(255,255,255,.87);
				i {
					height: 58px;
					line-height: 58px;
					color: rgba(255,255,255,.87);
				}
			}
		}
	}
}