<% title 'Page Not Found' %>
<% body_class 'error-404 header-dark-active' %>

<div class="main" id="main">
  <div class="container center">
	<%= image_tag '404.jpg', style: 'max-width:70%; margin: 0 auto;' %>
  	<h4 style="margin-top:-60px;">We can't seem to find that page.  <a class="accent" href="/">Head home</a></h4>
  </div>
</div>