<% title 'Internal Error' %>
<% body_class 'error-500 header-dark-active' %>

<div class="main" id="main">
  <div class="container center">
	<%= image_tag '500.jpg', style: 'max-width:70%; margin: 0 auto;' %>
  	<h4 style="margin-top:-60px;">Sorry, something went wrong.  Please contact an admin if this continues.</h4>
  </div>
</div>