<p id="notice"><%= notice %></p>

<h1>Listing Portfolio Tags</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio_tags.each do |portfolio_tag| %>
      <tr>
        <td><%= link_to 'Show', portfolio_tag %></td>
        <td><%= link_to 'Edit', edit_portfolio_tag_path(portfolio_tag) %></td>
        <td><%= link_to 'Destroy', portfolio_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio tag', new_portfolio_tag_path %>
