<% title 'Blog' %>
<% body_class 'blog' %>

<div class="container">
    <h1>Blog</h1>
</div>

<div class="container">
  <% @posts.each do |post| %>
    <article class="post col m12">
        <div class="row">
            <svg viewbox="0 0 200 100" class="has-animation has-animation-out svg-frame reanimate" data-animation-delay="500">
              <line x1="200" y1="0" x2="0" y2="0" class="line1" />
              <line x1="195" y1="105" x2="195" y2="30" class="line2" />
              <line x1="0" y1="100" x2="200" y2="100" class="line3" />
              <line x1="5" y1="-5" x2="5" y2="70" class="line4" />
            </svg>
            <div class="col m6">
                <div class="post-img">
                    <div class="post-date rotated-text h5"><%= post.created_at.strftime("%b %d, %Y") %></div>
                    <% if !post.image.blank? %>
                        <%= image_tag post.image(:medium) %>
                    <% end %>
                </div>
            </div>
            <div class="col m6 post-meta">
                <% if post.category %>
                    <div class="post-category h5">
                        In <%= post.category.name %>
                    </div>
                <% end %>
                <% if post.user %>
                    <div class="post-author h5">
                        By <%= post.user.name %>
                    </div>
                <% end %>
                <h3 class="post-title"><%= link_to post.title, post_path(:slug => post.slug) %></h3>
                <div class="post-desc">
                    <%= post.description %>
                </div>
                <div class="post-read-more">
                    <%= link_to 'Read more', post_path(:slug => post.slug) %>
                </div>
            </div>
            <div class="long-arrow"></div>
        </div>
    </article>
  <% end %>
  <%= paginate @posts %>
</div>
