<% body_class 'post-single header-light-active' %>
<% title @post.title %>

<div class="page-header full-browser-height section-dark" id="post-page-header">
	<div class="parallax"><img src="<%= @post.image %>"></div>
</div>

<div class="container">
	<div class="row">
		<div class="col l8 post-content">
		<div class="post-meta">
			<% if @post.category %>
			    <span class="post-category h5">
			        In <%= @post.category.name %>,
			    </span>
			<% end %>
			<% if @post.user %>
			    <span class="post-author h5">
			        By <%= @post.user.name %>
			    </span>
			<% end %>
		</div>

		  <h1 class="text-center"><%= @post.title %></h1>
		  <div><%= raw @post.content %></div>
		</div>
		<div class="col l4">
		  <div class="parallax-layer">
		  	<h5 class="rotated-text post-date"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
		  </div>
		</div>
	</div>
	<div class="row">
		<div class="col l8">
		    <%= render 'layouts/social_share' %>
		</div>
		<div class="col l4">
			<a href="<%= posts_path %>" class="blog-back-link">Back to blog</a>
		</div>
	</div>
</div>
