.notifications {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 10000;
}
.alert {
	background: $alert-blue;
	color: #fff;
	border: 0px solid $alert-blue;
	padding: 15px;
	font-size: 1.2em;
	padding-left: 50px;
	&:after {
		display: block;
		font-family: 'Ionicons';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		font-size: 22px;
	}
	&.alert-fixed {
		// position: fixed;
		// top: 0;
		// left: 0;
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		animation-name: alert;
		animation-delay: 4s;
		animation-fill-mode: forwards;
		animation-duration: 300ms;
		@extend .card;
	}
	&.alert-success {
		background-color: $alert-green;
		&:after {
			content: '\f122';
		}
	}
	&.alert-error {
		background-color: $alert-red;
		&:after {
			content: '\f2d7';
		}
	}
	&.alert-warning {
		background-color: $alert-yellow;
		&:after {
			content: '\f3bc';
		}
	}
}

@keyframes alert{
    from {
    	opacity :1;
    	visibility: visible;
    }
    to {
    	opacity :0;
    	visibility: hidden;
    }
}