body {
	.cke_reset_all, .cke_reset_all * {
		font-family: inherit;
	}

	#cke_editor {
		border: 0px;
	}

	a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active, .cke_combo_button {
	    box-shadow: none !important;
	    background: rgba(0,0,0,.08) !important;
	}

	.cke_dialog_title {
		text-shadow: none;
	}
}

.page-edit-controls {
	z-index: 10000;
	position: fixed;
	bottom: 20px;
	left: 20px;
	a, button {
		display: inline-block;
		border: 0px;
		margin-right: 8px;
	}
}

.parallax {
	img {
		display: block;
	}
}
.parallax-layer {
	opacity: 1;
}

// Contact
.live-editor {
	.contact-wrapper {
		visibility: visible;
		opacity: 1;
	}	
	#contact-bg {
		transform: translate3d(0,0,0);
	}
	.reveal {
		&:after {
			display: none;
		}
	}
}
