.portfolio {
	opacity: 0;
	.portfolio-item {
		position: relative;
		display: table;
		.portfolio-item-inner {
			display: table-cell;
			vertical-align: middle;
		}
		.portfolio-info {
			overflow: hidden;
			position: absolute;
			right: 0%;
			margin-top: 20px;
			background: transparent;
			display: inline-block;
			padding: 5px 10px;
			float: right;
			text-align: right;
		}
		// .portfolio-info-inner {
		// 	transition: transform .3s ease-in-out .8s;
		// 	transform: translate3d(0%,0,0);
		// }
		h3 {
			margin-top: 0;
			clear: both;
			a {
				color: $off-black;
			}
		}
		.project-link {
			color: $off-black;
			@include dash-line();
			&:before {
				background: $secondary-color;
			}
		}
		.portfolio-image-wrapper {
			position: relative;
			margin-left: 40px;
			margin-right: 40px;
			@media #{$small-and-down} {
				margin-top: -50px;
				margin-left: 0px;
				margin-right: 0px;
			}
			opacity: 1;
			transition: opacity .3s ease-in-out .8s;
			img {
				max-width: 100%;
			}
		}

		img {
			// max-width: 100%;
			top: 0;
			// clip: rect(140px 800px 400px 40px);
			display: block;
			// box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
			// clip-path: polygon(0 50%, 0 0, 50% 0, 50% 50%);
			width: 100vw;
		}
		&:hover {
			.svg-frame line {
				// stroke: $secondary-color;
			}
		}
	}
	.pagination {
		position: fixed;
		right: 0;
		top: 50%;
		width: 40px;
		transform: translateY(-50%);
		text-align: right;
		padding-right: 5px;
		li {
			height: 40px;
		}
		a {
			position: relative;
			transition: all .3s ease-in-out;
			margin: 10px 0;
			&:after {
				position: absolute;
				display: block;
				content: '';
				bottom: -5px;
				right: -20px;
				width: 0px;
				height: 2px;
				background: #444;
				transition: width .3s ease-in-out;
			}
		}
		li.active {
			background: transparent;
			a{
				color: #444;
				font-size: 1.5rem;
				margin-right: 5px;
				&:after {
					width: 50px;
				}
			}
		}
	}
	@media #{$small-and-down} {
		.pagination {
			display: none;
		}
	}
}

.portfolio-single {
	.portfolio-back-link {
		position: fixed;
		top: 44px;
		left: 30px;
		height: 20px;
		font-family: $heading-font-family;
		font-weight: bold;
		color: $off-black;
		z-index: 1000;
		transition: color 1s ease-in-out;
		&:hover {
			i {
				transform: translate3d(-10px,0,0);
			}
		}
		i {
			transition: transform .2s ease-in-out;
			font-size: 45px;
			margin-right: 15px;
			display: block;
			float: left;
			line-height: 20px;
			&:before {
				line-height: 27px;
			}
		}
	}
	.side-nav {
		transform: translateX(-100%) !important;
	}
	.page-header {
		background-size: cover;
		height: 100vh;
	}
	.slider-wrapper {
		float: right;
		width: 700px;
		margin-bottom: 140px;
	}
	.main {
		.container:first-child {
			padding-top: 40px;
		}
	}
}

.header-light-active.portfolio-single {
	 .portfolio-back-link {
		color: #fff;
	}
}

.page-portfolio {
	h1 {
		position: absolute;
	}
}

// Exiting animations
// .is-exiting.portfolio {
// 	.portfolio {
// 		.portfolio-image-wrapper {
// 			opacity: 0;
// 		}
// 		.portfolio-item {
// 			.portfolio-info-inner {
// 				transform: translate3d(120%,0,0);
// 			}
// 		}
// 	}
// }


// #main {
// 	opacity: 1;
// 	transition: opacity .2s ease-in-out 1s;
// }
// .is-exiting {
// 	#main {
// 		opacity: 0;
// 	}
// }
