.post-single {
	h1 {
		font-size: 3rem;
		margin-top: 20px;
	}
	h2 {
		font-size: 2rem;
	}
	h3, .h3 {
		font-size: 1.5rem;
		opacity: .3;
	}
	.post-meta {
		margin: 2em 0 1em;
	}
	.post-author {
		// opacity: .4;
	}
	.post-date {
		font-size: 28px;
		color: #dcdcdc;
		margin-top: 300px;
	}
	.blog-back-link {
		color: $off-black;
		@include dash-line();
		display: inline-block;
		margin: 80px 0;
		&:before {
			background: $secondary-color;
		}
	}
}

.blog {
	.post {
		position: relative;
		margin: 80px 0 120px;
		.svg-frame {
			position: absolute;
			top: -24%;
			left: 27%;
			width: 78%;
			height: 100%;
			z-index: -1;
			padding: 30px;
		}
		@media #{$small-and-down} {
			.post-img {
				max-height: 300px;
				overflow: hidden;
			}
		}
		.post-title {
			a {
				color: $off-black;
			}
		}
		.post-meta {
			margin-top: 6%;
		}
		.post-category {
			color: $off-black;
		}
		.post-read-more {
			margin-top: 60px;
			a {
				color: $body-color;
				@include dash-line();
				&:before {
					background-color: $secondary-color;
				}
			}
		}
	}
}