.lSSlideWrapper {
    padding-top: 40px;

    .lSAction {
        position: absolute;
        top: 0%;
        > a {
            background-image: none;
            position: relative;
            left: 0;
            top: 0;
            margin-top: 0;
            margin-right: 10px;
            display: inline-block;
            opacity: 1;
            i {
                font-size: 24px;
                color: black;
            }
        }
    }
    .lslide {
        img {
            max-width: 100%;
        }
    }

}

.slider-wrapper {
    position: relative;
    max-width: 100%;
    clear: both;
    display: block;
    .slider-count {
        position: absolute;
        bottom: 0;
        left: -24px;
        width: 100px;
        transform: rotate(-90deg);
        transform-origin: left;
        font-weight: bold;
    }
}

.testimonial-slider {
    margin-bottom: 140px;
    .svg-frame {
        width: 100%;
        height: 180%;
        top: -45%;
    }
    .lSAction {
        right: 0;
    }
    .lslide {
        position: relative;
        // height: 100% !important;
        padding: 80px 13%;

        img {
            // position: absolute;
            // bottom: -20px;
            // right: -10px;
            max-height: 120px;
            max-width: 120px;
            clear: both;
            float: right;
            margin-top: 80px;
        }
    }
}