.social {
	position: fixed;
	top: 0px;
	padding-top: 44px;
	margin-top: 0;
	right: 60px;
	z-index: 100;
	li {
		float: left;
		margin-left: 20px;
	}
	a {
		transition: 1s color ease-in-out;
		color: $off-black;
		font-family: $heading-font-family;
		font-weight: 600;
		border-radius: 0;
		color: white !important;
		font-size: 16px;
		height: auto;
		line-height: 2.2;
	}
}
.login-link {
	background: white;
    color: #080621 !important;
    text-transform: none;
    padding: 0 15px;
    border-radius: 0;
    &:hover {
    	background: #fff;
    }
}
@media #{$medium-and-down} {
	.social {
		display: none;
	}
}
.header-light-active {
	.social li a {
		color: #fff;
	}
}

.social-share {
	display: inline-block;
	width: 100%;
	margin: 80px 0;
	.h4 {
		float: left;
		margin-right: 20px;
	}
	ul {
		margin: 0;
	}
	li {
		float: left;
	}
	a{
		padding: 0 10px;
		i {
			font-size: 24px;
			line-height: 18px;
			color: $off-black;
			opacity: .2;
			transition: opacity .2s ease-in-out;
		}
		&:hover {
			i {
				opacity: 1;
			}
		}
	}
}