.tabs {
	float: left;
	width: 40% !important;
	li.tab {
		width: 100%;
		a {
			padding: 10px 0;
			font-size: 20px;
			font-weight: 300;
			color: #9d9d9d;
			display: inline-block;
			overflow: hidden;
			@include dash-line();
			padding-left: 45px;
			&:before {
				background-color: $secondary-color;
				transform: translate3d(-100%,0,0);
				transition: transform .2s ease-in-out;
			}
			&.active {
				color: $off-black;
				&:before {
					transform: translate3d(0%,0,0);
				}
			}
		}
	}
}

.tab-content {
	padding: 30px 40px;
	width: 60%;
	float: left;
	font-size: 20px;
}

@media #{$small-and-down} {
	.tabs {
		width: 100% !important;
		li.tab {
			a {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
	.tab-content {
		width: 100%;
	}
}