// Avatars
.avatar {
	border-radius: 50%;
	a {
		display: inline-block;
	}
}
.letter-avatar {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #d8d8d8;
	color: white;
	text-align: center;
	border-radius: 50%;
	letter-spacing: .05em;
}
.avatar-xsmall {
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.avatar-small {
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.avatar-medium {
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
}
.select-dropdown li .avatar {
	margin: 5px 15px;
}