$line-color: #ececec;

body {
	background: #f4f7fb;
}

#gantt {
	min-height: 70vh;
	width: 100%;
	float: left;
}

.gantt_container {
	font-family: inherit;
	border-color: transparent;
}

.gantt_row {
	border-bottom: 0px;
	&.task-type-project {
		font-weight: bold;
	}
}

// Tasks
.gantt_task_line {
	border-radius: 0;
	// background: rgba(40, 152, 176, 0.5);
	background: $light-gray;
	border: 0;
    &.gantt_dependent_task {
	    background-color: #6b6b6b;
	    border-radius: 0;
	    height: 12px !important;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);	    
		border: 0px;
	    margin-top: 2px;
	    .gantt_task_progress {
		  background-color: #46ad51;
		  border-radius: 0;
		  display: none;
		}
		.gantt_task_progress_drag {
			display: none;
		}
	    &:before, &:after {
	    	display: block;
	    	content: '';
	    	position: absolute;
	    	left: 0;
	    	top: 100%;
	    	margin-top: -2px
	    }
	    &:before {
	    	border-top: 8px solid #6b6b6b;
	    	border-right: 8px solid transparent;
	    }
	    &:after {
	    	right: 0;
	    	left: auto;
	    	border-top: 8px solid #6b6b6b;
	    	border-left: 8px solid transparent;
	    }
	    .gantt_task_content {
	    	display: none;
	    }
	}
    &.gantt_task_line.gantt_selected {
    	box-shadow: none !important;
	}
	.gantt_task_content {
		display: none;
	}
	.gantt_task_progress {
		border-radius: 0px;
	}
	.gantt_side_content {
		overflow: visible;
		// @include vertical-align();
		top: -2px;
	}
	&:hover, &:focus, &.gantt_selected {
		.gantt-buttons {
			display: block;
		}
	}
}

// Tree
.gantt_grid {
	background: white;
}
.gantt_tree_icon {
	background-image: none !important;
	padding-left: 5px;
	padding-right: 5px;
	&.gantt_folder_open {
		display: none;
	    background-image: none;
	}
	&.gantt_folder_closed {
		display: none;
	    background-image: none;
	}
	&:after {
		display: block;
		font-family: 'Ionicons';
	}
	&.gantt_close {
		&:after {
			content: '\f3d0';
		}
	}
	&.gantt_open {
		&:after {
			content: '\f3d3';
		}
	}
	&.gantt_file {
		background: none;
		display: none;
	}
}
.gantt_grid_scale, .gantt_task_scale {
    border-color: $line-color;
}
.gantt_drag_marker, .gantt_drag_marker .gantt_row.odd {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    .gantt_cell {
    	border-color: transparent;
    }
}

// Scale
.gantt_task .gantt_task_scale .gantt_scale_cell {
    font-size: 11px;
    border-right: 1px solid $line-color;
}

// Cells
.gantt_task_cell {
	border-color: #f1f1f1;
	&.week_end {
	  background-color: #EFF5FD;
	}
}
.gantt_task_row {
	border-bottom: 0;
	&.gantt_selected .gantt_task_cell.week_end{
	  background-color: #F8EC9C;
	}
}


// Baselines
body {
	.baseline {
	    position: absolute;
	    border-radius: 0px;
	    opacity: 0.6;
	    margin-top: -26px;
	    height: 18px;
	    background: transparent;
	    border: 1px dashed #b7004c;
	    background: #b7004c;
	    opacity: .2;
	    display: none;
	}
	.baseline-overdue {
		display: none;
	}
	&.baseline-active {
		.baseline {
			display: block;
		}
		.baseline-overdue {
			display: block;
		}
	}
}

// Buttons
.gantt_row {
	&.task-level-0, &.task-level-1 {

	}
	// .gantt-buttons {
	// 	display: block;
	// 	visibility: hidden;
	// 	opacity: 0;
	// 	padding: 0;
	// 	position: inherit !important;
	// 	transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
	// 	ul {
	// 		right: 36px;
	// 		li {
	// 			margin: 0px 10px 0 0;
	// 		}
	// 	}
	// }
	&.task-level-0 {
		.gantt_tree_content {
			font-size: 1.2em;
		}
	}
	&:hover {
		.gantt-buttons {
			visibility: visible;
			opacity: 1;
		}
	}
	&.cant-drop {
		opacity: .4;
	}
}

// Lightbox
.modal {
	transform: scale(1) !important;
	background: #fff;
	.btn-flat {
		&:hover {
			background: transparent;
		}
	}	
	.btn-task-save {
		background: #37c4ff;
	}
	.btn-task-delete {
		// background: #e6400a;
	}
	.btn-task-cancel {
	}
	&.modal-task-edit {
		height: 170px;
	}
}

// .gantt_cal_ltext {
//     padding: 2px 10px;
//     overflow: visible;
// }
// .gantt_cal_larea {
//     height: auto;
// }
// .gantt_save_btn, .gantt_cancel_btn, .gantt_delete_btn {
// 	width: auto;
// 	background-image: none;
// 	margin-top: 0;
// }

// Filters
.filters {
	.filter {
		float: left;
		margin-right: 40px;
		input {
			border-color: transparent;
		}
		.dropdown-content {
			min-width: 240px;
		}
	}
}

// Buttons
.gantt-buttons {
	display: none;
	margin-right: 10px;
	a {
		margin-left: 5px;
		background: #fff;
		&:hover {
			i {
				color: #fff;
			}
		}
		i {
			width: 100%;
			color: gray;
		}
	}
	.btn-delete:hover {
		background: $alert-red;
	}
	.btn-edit:hover {
		background: $alert-yellow;
	}
	.btn-add:hover {
		background: $alert-green;
	}
	.btn-comments:hover {
		background: $alert-blue;
	}
}

// Comments
.task-comments-unread {
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	text-align: center;
	display: block;
	color: #fff;
	background: $orange;
	float: right;
	// position: absolute;
	// top: 0;
	// left: 100%;
}

@media print {
	.gantt_task_line {
		border: 1px solid $dark-gray;
	}
	.gantt-buttons {
		display: none !important;
	}
	.filters {
		display: none;
	}
	.gantt_task_row.gantt_selected .gantt_task_cell {
	    border-right-color: #EFF5FD;
	}
}
