/*
 * Compiled to gantt.css
 */

 .x-panel {
 	td, th {
 		padding: 0px;
 	}
 }

@import 'base/variables';
@import 'base/mixins';
@import 'dropzone/basic';
@import "dhtmlxgantt";
@import "gantt-skin";
@import "task_comments";
@import "task_attachments";
@import "tasks";