// Place all the styles related to the TaskComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-comments-wrapper {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
	form {
		margin-bottom: 40px;
		.form-actions {
			float: right;
		}
		.chips {
			margin-bottom: 0;
			border-bottom: 0;
			&.focus {
				box-shadow: none;
			}
		}
	}
}
.task-comments {
	.task-comment {
		clear: both;
		display: inline-block;
		width: 100%;
		margin-bottom: 40px;
		.task-comment-content {
			background: #f9f9f9;
			margin-left: 80px;
			padding: 24px;
		}
		.task-comment-date {
			font-size: .85em;
			opacity: .4;
			margin-top: 10px;
			text-align: right;
		}
		.avatar {
			float: left;
			img {
			}
		}

		&.current-user {
			.task-comment-content {
				margin-right: 80px;
				margin-left: 0;
			}
			.avatar {
				float: right;
			}
			.task-comment-date {
				text-align: left;
			}
		}

		&.unread {
			.avatar {
				position: relative;
				&:after {
					display: block;
					content: '';
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: $orange;
					position: absolute;
					top: -5px;
					right: -5px;
				}
			}
		}
	}	
}


.modal-task-comments {
	left: auto;
	right: 0;
	top: 0;
	height: 100%;
	max-height: 100%;
	max-width: 900px;
	width: 100%;
	transition: transform 300ms ease-in-out;
	opacity: 1 !important;
	display: block !important;
	transform: translate3d(100%,0,0) !important;
	will-change: transform;
	&.open {
		transform: translate3d(0%,0,0) !important;
	}
	.valign-wrapper {
		height: 100%;
		width: 100%;
	}
	.preloader-wrapper {
		margin: 0 auto;
	}
	.row {
		margin-bottom: 0;
		display: flex;
		&>div {
			flex: 0 0 1;
		}
	}
}

#attachment-add {
	background: $light-blue;
	padding: 0 1rem;
}

.box-header {
	padding: 1rem 2.25rem;
	border-bottom: 1px solid #e6e6e6;
	h4 {
		font-size: 1.6em;
		margin-bottom: 0;
	}
}

.task-comments-latest {
	.task-comment {
		width: 100%;
		display: inline-block;
	}
	.task-comment-user {
		font-weight: bold;
		margin-top: 4px;
		margin-bottom: 8px;
	}
	.task-comment-user-avatar {
		float: left;
		width: 50px;
	}
	.task-comment-info {
		float: left;
		width: calc(100% - 50px);
	}
	.task-comment-meta {
		font-size: .8rem;
		margin-top: 10px;
	}
	li {
		margin-bottom: 20px;
	}
}