// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// New form
.task-new {
	background: #fff;
	margin-bottom: 40px;
	input {
		padding: 7px 10px;
		width: calc(100% - 20px);
		margin-bottom: 0;
		border-bottom-color: #f2f2f2;
	}
	.task-new-buttons {
		padding: 10px 20px;
		background: #fafbfb;
		text-align: right;
		.selectize-control {
			text-align: left;
			float: left;
			.selectize-input {
				color: #c7d0dc;
				height: 36px;
				margin-bottom: 0;
				border-bottom: 0;
				&:after {
					display: none;
					color: #c7d0dc !important;
				}
				input {
					height: 36px !important;
				}
				&.input-active {
					background: transparent;
					display: block;
				}
			}
		}
		.btn-flat {
			padding: 0 10px;
			color: #c7d0dc;
		}
	}
}

// Lists
.tasks-label {
	text-transform: uppercase;
	font-weight: bold;
	opacity: .3;
	font-size: 1rem;
	text-align: right;
}
.tasks {
	margin-top: 0;
	border: 0px;
}
.task {
	position: relative;
	&.collection-item {
		padding: 24px 20px;
		border-bottom-color: #ebebeb;
	}
	form {
		float: left;
	}
	.checkbox {
		position: absolute;
		left: 20px;
		z-index: 2;
		label {
			width: 0;
			overflow: hidden;
		}
	}
	.task-info {
		padding-left: 60px;
		width: 100%;
		&:after {
			display: block;
			content: '';
			clear: both;
		}
	}
	.task-name {
		padding-right: 80px;
	}
	.task-buttons {
		position: absolute;
		right: 0;
		top: 0;
		padding: 20px 20px;
		float: right;
		opacity: 0;
		a {
			color: #c7d0dc;
			margin-left: 2px;
		}
	}
	&:hover {
		.task-buttons {
			opacity: 1;
		}
	}
	.task-relationships {
		margin-top: 20px;
	}
	.chip {
	    // height: 24px;
	    // line-height: 24px;
	    margin-bottom: 0;
	}
	.task-users {
		>div {
			float: left;
			margin-right: 7px;
		}
	}

	.btn-flat {
		padding: 0 8px;
		&:hover {
			background: transparent;
			color: $orange;
		}
	}
	
	// Statuses
	>div {
		transition: opacity .15s ease-in-out;
	}
	&.is-complete {
		>div {
			opacity: .7;
		}
		.task-name {
			text-decoration: line-through;	
		}
	}
	.task-edit {
		display: none;
	}
	&.editing {
		.task-edit {
			display: block;
		}
		.task-name {
			display: none;
		}
	}
}

// Sidebar
.box {
	padding: 20px 30px;
	margin-bottom: 40px;
	background: #fff;
	h5 {
		margin-bottom: 30px;
	}
}
.task-stats {
	background: $sidenav-bg-color;
	color: #fff;
	background-color: #3f4a59;
}


// Filters
.filters {
	.chip {
		background: #fff;
		a {
			color: $dark-gray;
			display: block;
		}
		&.active {
			background: $orange;
			a {
				color: #fff;
			}
		}
	}
}
#filter-projects {
	.selectize-control.multi .selectize-input > div {
		background: $project-color;
		color: #fff;
	}
}
#filter-users {
	.selectize-control.multi .selectize-input > div {
		background: #f2f2f2;
		color: $dark-gray;
	}
}