// Place all the styles related to the task_attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-attachments-wrapper {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
	min-height: 100vh !important;
}
.task-attachment {
	float: left;
	margin-bottom: 30px;
	width: 100%;
	position: relative;
	max-width: 170px;
	img {
		float: left;
		max-width: 100%;
	}
	.task-attachment-info {
		top: 100%;
		padding: 10px;
		background: #fff;
		display: inline-block;
		max-width: 100%;
	}
	.task-attachment-actions {
		float: left;
		margin-left: 20px;
		opacity: 0;
		transition: opacity .3s ease-in-out;
		a {
			display: block;
			font-size: 24px;
		}
		.task-attachment-delete {
			position: absolute;
			top: -10px;
			right: -10px;
			color: #c55c5c;
		}
		.task-attachment-download {
			@include center-both();
			color: $dark-gray;
			background: #fff;
			border-radius: 50%;
			width: 44px;
			height: 44px;
			padding: 5px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			font-size: 28px;
		}
	}
	&:hover .task-attachment-actions {
		opacity: 1;
	}
}


// Dropzone
body.dz-dragover {
	.dropzone {
		visibility: visible;
		&.dz-drag-hover {
			opacity: 1;
		}
	}
}
form.dropzone {
	position: fixed;
	z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    border: 3px dashed #bdbdbd;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
	>* {
		pointer-events: none;
	}
	&.dz-dragenter {
		visibility: visible;
		opacity: 1;
	}
    .dz-message {
		@include vertical-align();
    	text-align: center;
    	font-size: 20px;
    	width: 100%;
    	&:before {
    		display: block;
    		font-family: 'Ionicons';
    		content: '\f3b6';
    		font-size: 70px;
			color: $orange;
    	}
    }
	input,label {
		visibility: hidden;
	}
}
.dz-preview {
	position: relative;
	.dz-success-mark, .dz-error-mark {
		display: none;
		@include center-both();
		background: #fff;
		padding: 5px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		font-size: 22px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		&:before {
			font-family: 'Ionicons';
			display: block;
		}
	}
	.dz-success-mark {
		&:before {
			content: '\f122';
			color: #55c56d;
		}
	}
	.dz-error-mark {
		&:before {
			content: '\f3bc';
			color: #c55c5c;
		}
	}
	&.dz-success {
		.dz-success-mark {
			display: block;
		}
	}
	&.dz-error {
		.dz-error-mark {
			display: block;
		}
	}
	.dz-remove {
		position: absolute;
		top: -10px;
		right: -10px;
		color: #c55c5c;
		opacity: 0;
		transition: opacity .3s ease-in-out;
		&:before {
			content: '\f128';
			font-family: 'Ionicons';
			font-size: 24px;
		}
	}
	&:hover .dz-remove {
		opacity: 1;
	}
}