<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © <%= Time.now.year %> Sanctum.
    Designed by <a href="http://echo5web.com">Echo 5 - Atlanta Web Design</a>
    </div>
  </div>
</footer>