<div class="page-edit-controls">
	<%= form_tag(update_path, method: 'patch', remote: true,id: 'update_page_form' ) do %>
		<%= hidden_field_tag :content, '', id: 'page_content_field' %>
		<button type="submit" class="save control btn-floating btn-large waves-effect waves-light green" id="save"><i class="ion-checkmark"></i></button>
		<a href="#" class="cancel control btn-floating btn-large waves-effect waves-light red" id="cancel"><i class="ion-close"></i></a>
	<% end %>

	<script>
	CKEDITOR.on( 'instanceReady', function( ev ) {
		window.onbeforeunload = function(){
			return 'Are you sure you want to leave this page?  Any unsaved changes will be discarded.';
		};
		$('#cancel').click(function(e) {
			e.preventDefault();
			// if content has not changed
			if (!ev.editor.checkDirty()) {
				window.onbeforeunload = function () {}
			}
			window.location.href = "/admin";
		});
	});
	$('#update_page_form').on("ajax:before", function(xhr, settings) {
	    // Update content field from CKEDITOR
	    var content = CKEDITOR.instances.editor.getData();	
	    $('#page_content_field').val(content);
	});
	</script>
</div>
