<nav class="nav-top">
  <div class="nav-wrapper container-full">

    <% if content_for? :filters %>
      <div class="filters" id="filters">
        <%= yield :filters %>
      </div>
    <% end %>

    <ul class="right hide-on-med-and-down">
      <li class="user-menu">
      	<% if user_signed_in? %>
      	<a class="dropdown-button" href="#" data-activates="user-dropdown">
		  <%= raw current_user.avatar('small') %>
		  <i class="ion-android-more-vertical"></i>
	  	</a>
		  <ul id='user-dropdown' class='dropdown-content'>
		    <li><a href="/gantt">Gantt</a></li>
		    <li><a href="/admin">Admin</a></li>
		    <li class="divider"></li>
		    <li><%= link_to "Logout", '/logout' %></li>
		  </ul>
		  
		<% else %>
		  <%= link_to 'Login', '/login' %>
		<% end %>
	  </li>
    </ul>
  </div>
</nav>
