<ul id="nav-mobile" class="side-nav fixed">
    <li class="logo">
    	<a id="logo-container" href="/" class="brand-logo">
			<%= image_tag 'logo-light.png', :class => 'logo-light' %>
			<%= image_tag 'logo-dark.png', :class => 'logo-dark' %>
		</a>
    </li>
    <%= nav_link 'About', '/about' %>
    <%= nav_link 'Services', '/services' %>
    <%= nav_link 'Portfolio', portfolio_path %>
    <%= nav_link 'Blog', posts_path %>
    <%= nav_link 'Contact', '/contact' %>
</ul>