<ul id="nav-mobile" class="side-nav fixed">
    <li class="logo">
    	<a id="logo-container" href="/" class="brand-logo">
			<%= image_tag 'logo-light.png' %>
		</a>
    </li>
    <li><a href="#" class="waves-effect"><i class="ion-ios-speedometer-outline"></i>Dashboard</a></li>
    <li><a href="<%= gantt_path %>" class="waves-effect"><i class="ion-ios-calendar-outline"></i>Gantt</a></li>
    <li><a href="<%= tasks_path %>" class="waves-effect"><i class="ion-android-checkbox-outline"></i>Tasks</a></li>
    <li><a href="<%= users_path %>" class="waves-effect"><i class="ion-ios-people-outline"></i>Users</a></li>
    <li><a href="<%= projects_path %>" class="waves-effect"><i class="ion-clipboard"></i>Projects</a></li>
</ul>