<div class="social-share" id="social-share">
	<div class="h4">Share On</div>
	<ul class="social-share-list">
		<li><a href="https://www.facebook.com/sharer/sharer.php?u=<%=u request.original_url %>" target="_blank"><i class="ion-social-facebook"></i></a></li>
		<li><a href="https://twitter.com/home?status=<%=u request.original_url %>" target="_blank"><i class="ion-social-twitter"></i></a></a></li>
		<li><a href="https://plus.google.com/share?url=<%=u request.original_url %>" target="_blank"><i class="ion-social-googleplus"></i></a></a></li>
		<li><a href="http://pinterest.com/pin/create/button/?url=<%=u request.original_url %>" target="_blank"><i class="ion-social-pinterest"></i></a></a></li>
	</ul>
</div>