<!DOCTYPE html>
<html>
<head>
  <title>Sanctum Design Group</title>
  <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", :media => "all" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag "gantt", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<div id="app">

	<%= render 'layouts/navigation_top' %>
	<%= render 'layouts/sidebar_app' %>

	<div id="notifications" class="notifications">
		<% if notice %>
			<div class="notice"><%= notice %></div>
		<% end %>
		<% if alert %>
			<div class="alert"><%= alert %></div>
		<% end %>
	</div>

	<main class="main" id="main">
	  <%= yield %>
	</main>

</div>

<%= render 'layouts/footer' %>
<%= javascript_include_tag 'admin' %>

</body>
</html>
