<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Sanctum Design Group</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= raw yield(:meta_description) %>
  <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", :media => "all" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://use.typekit.net/vha4koe.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3342733-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3056155.js"></script>
  <!-- End of HubSpot Embed Code -->
</head>
<body class="<%= yield(:body_class) %>" id="body">
    
  <%#= render 'layouts/navigation_top' %>
  <%= render 'layouts/navigation' %>

  <ul class="social">
    <li><a href="https://calendly.com/sanctum/30min" class="btn waves-effect btn-primary" target="_blank">Schedule Call</a></li>
  </ul>

  <div id="notifications" class="notifications">
    <% if notice %>
      <div class="notice"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert"><%= alert %></div>
    <% end %>
  </div>

  <div id="btn-nav" class="btn-floating btn-large waves-effect waves-light" data-activates="nav-mobile"><i class="ion-drag"></i></div>

  <div id="barba-wrapper">
    <div class="barba-container" data-namespace="<%= yield(:namespace) %>">
      <%= yield %>
      <%= render 'layouts/footer' %>
      </div>
  </div>



</body>
</html>
