<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Echo 5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", :media => "all" %>
  <%= javascript_include_tag 'ckeditor', 'data-turbolinks-track' => true %>
</head>
<body class="<%= yield(:body_class) %>">

<%#= render 'layouts/navigation_top' %>
<%= render 'layouts/navigation' %>

<div class="notifications" id="notifications"></div>

<main class="main" id="main">
  <%= yield %>
</main>

<%= render 'layouts/footer' %>

</body>
</html>
